<p>
    {{titulo}}
    teste
</p>


<form #formEquipamento="ngForm">
    <input type="text" id="equipamentos" name="equipamentos" [(ngModel)] = "equipamento.nome">
    <button (click)="incluirEquipamentos()" id="btnAddEquipamento">Adicionar</button><br />
</form>

<div class="equipamento" *ngFor="let equipamento of equipamentos">
    <p>
        <input type="text" [(ngModel)]="equipamento.nome"  [ngClass]="equipamento.modoEdicao?'visivel':'invisivel'">
        <label [ngClass]="equipamento.modoEdicao?'invisivel':'visivel'">{{equipamento.nome}}</label>
    </p>
    <button id="btnExcluir" (click)="excluirEquipamento(equipamento)" [ngClass]="equipamento.modoEdicao?'invisivel':'visivel'">Excluir</button>
    <button id="btnEditar" (click)="editarEquipamento(equipamento)" [ngClass]="equipamento.modoEdicao?'invisivel':'visivel'">Editar</button>
    <button id="btnConfirmar" (click)="salvarEquipamento(equipamento)" [ngClass]="equipamento.modoEdicao?'visivel':'invisivel'">Confirmar</button>
    <button id="btnCancelar" (click)="cancelarEdicao(equipamento, $event)" [ngClass]="equipamento.modoEdicao?'visivel':'invisivel'">Cancelar</button>
</div>

<a routerLink="/contratos">voltar</a>